@model IsoComponents.Models.Banner
@{
	ViewBag.Title = "Home Page";
	
}
The banner component should be rendered here:
<div class="jumbotron">
	@Html.Stratum("banner", Model);
</div>

<div class="row">
	<div class="col-md-4">
		@Html.Stratum("signup", new { title = "first title from data", amount = "$50" })
	</div>
	<div class="col-md-4">
		@Html.Stratum("signup", new { title = "second title from data", amount = "$250" })
	</div>
	<div class="col-md-4">
		@Html.Stratum("signup", new { title = "third title from data", amount = "$10,000" })
	</div>
</div>

@section Scripts {
	@Html.StratumScripts("banner", "home");
	@Html.StratumScripts("signup", "home");
}